<p>¡Hola! Soy Alex Calle, Ingeniero en Instrumentación y Control con experiencia en la implementación de Centros de
    Experiencia de Café, así como en capacitaciones, mantenimiento y calibración de máquinas de espresso y molinos.</p>
<br>
<p>Soy de la ciudad de Medellín y me desempeño como coordinador de capacitaciones, apasionado, estudioso y entusiasta a
    la hora de realizar pruebas y adquirir conocimientos en torno a el café.</p>
<br>
<ul>
    <p>A continuación podrás conocer algo de mi trayectoria:</p>
    <li><p>- Barista Profesional de la SCA</p></li>
    <li><p>- Entrenador Autorizado de la SCA (AST 2019-2022)</p></li>
    <li><p>- Juez Sensorial en el V Campeonato Chileno de Barismo – 2019.</p></li>
    <li><p>- Segundo Puesto en el Campeonato Nacional de AeroPress - 2019</p></li>
    <li><p>- Juez Nacional de Cafés Filtrados desde 2018</p></li>
    <li><p>- Juez Nacional de Barismo Sensorial desde 2018</p></li>
</ul>