<p>¡Hola! Soy Diego Campos, barista profesional con más de 11 años de experiencia en la industria del café .  Me desempeño en diferentes campos como Tostión ,catación ,barismo y por último hago parte de un proyecto donde producimos café especial en el departamento del Huila.</p>
<br>
<ul>
    <p>A continuación podrás conocer algo de mi trayectoria:</p>
    <li><p>- Campeón Nacional de Barismo 2014</p></li>
    <li><p>- Campeón Nacional de Barismo 2016</p></li>
    <li><p>- Campeón Nacional de Barismo 2019</p></li>
</ul>
<p>Y también he tenido la oportunidad de representar  a Colombia en competencias internacionales como lo son la WBC y LA FUSHAN COMPETITION en China.</p>
<br>
<p>¡Agenda ya tu charla y compartiremos muchos conocimientos del universo del café!</p>