<p>¡Hola! Soy Felipe Castañeda, Barista, Catador y Capacitador con 8 años de experiencia en la industria del café, con
    conocimientos en la transformación del grano desde la Semilla hasta la Taza; he desempeñado labores como Tostador,
    Catador, Barista, Analista de Calidad e Instructor.</p>
<br>
<ul>
    <p>A continuación podrás conocer algo de mi trayectoria:</p>
    <li>
        <p>- Campeón I Campeonato de Baristas Regional  Sur, 2012</p>
    </li>
    <li>
        <p>- Medalla de plata olimpiadas World Skills, 2012</p>
    </li>
    <li>
        <p>- Participante del VII del Campeonato Colombiano de Baristas. </p>
    </li>
    <li>
        <p>- 4to Lugar del VIII Campeonato Colombiano de Baristas. </p>
    </li>
    <li>
        <p>- Juez Sensorial del X Campeonato Colombiano de Baristas.</p>
    </li>
    <li>
        <p>- Juez Sensorial del I Campeonato Regional de Baristas de Antioquia.</p>
    </li>
    <li>
        <p>- Juez Sensorial del Concurso de Taza de Antioquia, 2020</p>
    </li>
    <li>
        <p>- Juez Sensorial del Concurso de Taza del Cauca, 2020</p>
    </li>
    <li>
        <p>- Juez Sensorial del Acevedo Cup, 2020</p>
    </li>
</ul>