<section class="eventos-header-section">
    <div class="row">
        <img src="https://www.cafeamorperfecto.com/wp-content/uploads/2020/06/amor-perfecto-logo-blanco.png"
            alt="logo-amor-perfecto">
        <div class="text-div">
            <h1>DE LA </h1>
            <p>conversatorio día nacional del café</p>
            <h1>SEMILLA</h1>
            <p>5:00 p.m - Google meets</p>
            <h1>A LA</h1>
            <p>sábado 27 de junio</p>
            <h1>TAZA</h1>
        </div>
    </div>
</section>