<section class="eventos-header-section">
    <div class="row">
        <img src="https://www.cafeamorperfecto.com/wp-content/uploads/2019/06/Logo-blanco_Mesa_de_trabajo_1.png"
            alt="logo-amor-perfecto" style="max-width: 200px;">
        <div class="text-div">
            <h1 id="tinto-1">TINTO</h1>
            <p>conversatorio</p>
            <h1>CON</h1>
            <p>5:00 p.m - Facebook Live - ZOOM</p>
            <h1 id="tinto-2">TINTO</h1>
            <p>Sábado 4 de julio</p>
        </div>
    </div>
</section>