<section class="header-section">
    <div class="row">
      <img src="https://www.cafeamorperfecto.com/wp-content/uploads/2020/06/amor-perfecto-logo-blanco.png"
        alt="logo-amor-perfecto">
      <h1>
        UN BARISTA EN CASA
      </h1>
    </div>
  </section>