<section class="header-section">
    <div class="row">
      <img src="https://cafeamorperfecto.com/wp-content/uploads/2020/08/Group-160.png"
        alt="logo-amor-perfecto">
      <h1>
        UN BARISTA EN CASA
      </h1>
    </div>
  </section>