<section class="eventos-header-section">
    <div class="header-content">
        <!-- <img src="https://www.cafeamorperfecto.com/wp-content/uploads/2019/06/Logo-blanco_Mesa_de_trabajo_1.png"
            alt="logo-amor-perfecto" style="max-width: 200px;"> -->
            <p>CONVERSATORIO</p>
            <div class="yellow-line"></div>
            <div class="image-container">
                <h1 id="title">CAFÉ Y SALUD</h1>
                <img src="https://www.cafeamorperfecto.com/wp-content/uploads/2020/07/cafeysalud.jpg" alt="cafeysalud">
                <p>DOCTORA DORIS HENAO Y LUIS FERNADO VÉLEZ</p>
            </div>
            <h3><strong>5:00 PM</strong> ZOOM Y FACEBOOK LIVE</h3>
            <P>SÁBADO 18 DE JULIO</P>
    </div>
</section>