<section class="eventos-header-section">
    <div class="header-content">
        <div class="logo">
            <img src="https://www.cafeamorperfecto.com/wp-content/uploads/2019/07/Sin_título-2-02.png" alt="logo-amor-perfecto" />
        </div>
        <h1>TINTO</h1>
        <p>SEGUNDA PARTE - CONVERSATOTIO</p>
        <h1>CON</h1>
        <p>5:00 P.M - FACEBOOK LIVE - ZOOM</p>
        <h1>TINTO</h1>
        <p>SÁBADO 25 DE JULIO</p>
    </div>
</section>