<section class="eventos-header-section">
    <div class="row">
        <img src="https://www.cafeamorperfecto.com/wp-content/uploads/2019/07/Sin_tiÌtulo-2-02.png"
            alt="logo-amor-perfecto" style="background-color: white; border: 10px solid white;">
        <div class="text-div">
            <h1 id="tinto-1">TINTO</h1>
            <p>conversatorio</p>
            <h1>CON</h1>
            <p>5:00 p.m - Facebook Live - ZOOM</p>
            <h1 id="tinto-2">TINTO</h1>
        </div>
    </div>
</section>