<p>
    Hola soy Leidy Arredondo,Barista de Amor Perfecto, con 4 años de experiencia en la industria del cafe.
</p>
<br>
<p>He tenido la
    oportunidad de competir en campeonatos Nacionales de café como:Barismo,Filtrados y Aeropress.
</p>
<br>
<p>
    Gracias a estas competencias he ido aprendiendo aún más sobre procesos en fincas, procesos de calidad y preparación
    con
    el fin de compartir mi conocimiento con nuestros clientes.
</p>