<p>¡Hola! Soy Luis Fernando Tarquino, llevo 15 años siendo parte del equipo de amor perfecto.</p>
<br>
<ul>
    <p>A continuación podrás conocer algo de mi trayectoria:</p>
    <li><p>- Instructor de la asociación de cafés especiales.</p></li>
    <li><p>- Entrenador de baristas para los campeonatos nacionales actualmente líder de conocimiento y eventos</p></li>
</ul>
<br>
<p>¡Agenda ya tu charla y compartiremos muchos conocimientos del universo del café!</p>




