<p>¡Hola! Soy Luis Fernando Vélez, fundador y gerente de la marca de cafés especiales más premiada en el mundo, Amor Perfecto café.</p>
<br>
<p>Desde 1997 cuando entré a la industria del café, estoy convencido que Colombia tiene la gran oportunidad de empezar a exportar todo su café tostado en origen. Es por eso que en Amor Perfecto, trabajamos de la mano con los caficultores para entrenarlos y transferirles todo el conocimiento que se requiere para sacar lo mejor del grano.</p>
<br>
<ul>
    <p>¿A qué sabe un buen café colombiano? Para mi tiene:</p>
    <li><p>- Aroma</p></li>
    <li><p>- Fragancia</p></li>
    <li><p>- Dulzura</p></li>
    <li><p>- Acidez</p></li>
    <li><p>- Sabor</p></li>
    <li><p>- Mucha Pasión</p></li>
</ul>
<br>
<p>¡Espero verlos pronto! Y como siempre decimos:
    Tomarnos el mejor café del mundo es un lujo que todos los colombianos nos podemos dar.</p>




