<p>¡Hola! Soy Nataly Morales, Llevo 3 años siendo barista en tiendas con café de especialidad. </p>
<br>
<p>Me gusta experimentar el desarrollo de una bebida de acuerdo a la curva de tostión, método de preparación, variedad y beneficio del mismo; porque comprendo que cada taza  es una experiencia diferente, desde que nuestro café llega a casa tostado en grano o molido, se  convierte en parte de una historia donde nosotros somos los autores del cuento.</p>
<br>
<p> Nuestros principales protagonistas son todos aquellos caficultores y cada persona que interviene en el desarrollo desde la semilla para que esta se convierta en un mundo de sensaciones, donde en cada taza se puede percibir todo lo que rodea un cafetal y cada sabor que ha sido debidamente cuidado durante todo este proceso.</p>
<br>
<p>¡Agenda ya tu charla para que seas parte de este cuento!</p>

    

 
