<p>¡Hola! Soy Nicolás Rico. Barista de amor perfecto.</p>
<br>
<p>Llevo 13 años en la industria del café; soy campeón nacional de café y licores del 2011, campeón de Baristas del 2013 y campeón nacional de filtrados del 2017.</p>
<br>
<p>Actualmente trabajo en el aérea comercial para amor perfecto donde no solamente vendemos café y equipos si no que asesoro a las personas para que tengan una tienda de café exitosa.</p>
<br>
<p>¡Los espero para tener una increíble y amena charla!</p>