<p>¡Hola! Soy Walter Acevedo, llevo 10 años en la industria del café, soy Tostador y catador Certificado SCA profesional en tostión y sensorial.</p>
<br>
<ul>
    <p>A continuación podrás conocer algo de mi trayectoria:</p>
    <li><p>- Juez nacional de baristas y filtrados</p></li>
    <li><p>- Trecer lugar nacional de catadores 2016</p></li>
    <li><p>- Campeón Nacional catadores 2017</p></li>
    <li><p>- Tercer lugar mundial de catadores 2018</p></li>
    <li><p>- Subcampeón nacional tostadores 2018</p></li>
    <li><p>- 7 años como maestro tostador de amor perfecto y analista de calidades.</p></li>
</ul>
<br>
<p>¡Agenda ya tu charla y compartiremos muchos conocimientos del universo del café!</p>